Node_red.json
[{"id":"4c998eae.40f1a","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"b4c31b82.13d658","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"4bea37bc.f0fe08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5fc5845c.a1759c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"79d78b0a.cb7cd4","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"8b216772.ae6418","type":"ui_group","z":"","name":"Reg form","tab":"79d78b0a.cb7cd4","order":1,"disp":true,"width":"6","collapse":false},{"id":"2176c5f8.be366a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"11ad8b88.06bf24","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"ff78075e.6f8f48","type":"ui_tab","z":"","name":"Second page","icon":"dashboard","disabled":false,"hidden":false},{"id":"a23a2a39.9e7078","type":"ui_group","z":"","name":"Second form","tab":"ff78075e.6f8f48","order":1,"disp":true,"width":"6","collapse":false},{"id":"1383993e.0129d7","type":"ui_group","z":"","name":"Bot","tab":"8ebbbf92.06fe5","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ebbbf92.06fe5","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false},{"id":"a01dabfb.1f3278","type":"ui_form","z":"4bea37bc.f0fe08","name":"","label":"","group":"8b216772.ae6418","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":160,"y":220,"wires":[["657db6cf.4eeea8","db04b03c.ee9a9"]]},{"id":"657db6cf.4eeea8","type":"debug","z":"4bea37bc.f0fe08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":80,"wires":[]},{"id":"db04b03c.ee9a9","type":"function","z":"4bea37bc.f0fe08","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["882ec86d.26f458"]]},{"id":"882ec86d.26f458","type":"cloudant out","z":"4bea37bc.f0fe08","name":"cloudant","cloudant":"","database":"sample","service":"node-red-bjawd-2020--cloudant-1597408833560-5577","payonly":true,"operation":"insert","x":570,"y":220,"wires":[]},{"id":"d4736f0e.de0a6","type":"ui_form","z":"4bea37bc.f0fe08","name":"","label":"","group":"a23a2a39.9e7078","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":380,"wires":[["96575594.7f6278"]]},{"id":"96575594.7f6278","type":"function","z":"4bea37bc.f0fe08","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["6811f855.03b5f8"]]},{"id":"6811f855.03b5f8","type":"function","z":"4bea37bc.f0fe08","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["afa42ca4.16588"]]},{"id":"afa42ca4.16588","type":"cloudant in","z":"4bea37bc.f0fe08","name":"","cloudant":"","database":"sample","service":"node-red-bjawd-2020--cloudant-1597408833560-5577","search":"_idx_","design":"user","index":"user","x":690,"y":380,"wires":[["8c90ae96.bda27"]]},{"id":"8c90ae96.bda27","type":"function","z":"4bea37bc.f0fe08","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":380,"wires":[["387cd7f2.e57b38"]]},{"id":"a5acfc39.215d6","type":"ui_form","z":"4bea37bc.f0fe08","name":"","label":"","group":"1383993e.0129d7","order":0,"width":0,"height":0,"options":[{"label":"User Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":480,"wires":[["7784306.c65f0d"]]},{"id":"387cd7f2.e57b38","type":"ui_text","z":"4bea37bc.f0fe08","group":"a23a2a39.9e7078","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":380,"wires":[]},{"id":"7784306.c65f0d","type":"function","z":"4bea37bc.f0fe08","name":"","func":"msg.payload = msg.payload.input\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":480,"wires":[["c8364cd0.316b"]]},{"id":"c8364cd0.316b","type":"watson-conversation-v1","z":"4bea37bc.f0fe08","name":"","workspaceid":"b6a5d04f-872e-4f06-a764-eb85c1f96b68","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a0779b8f-49dd-4419-a87a-99d6bb11c60d","timeout":"","optout-learning":false,"x":520,"y":480,"wires":[["c549a770.720458","11346a09.c353b6"]]},{"id":"c549a770.720458","type":"debug","z":"4bea37bc.f0fe08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":440,"wires":[]},{"id":"11346a09.c353b6","type":"function","z":"4bea37bc.f0fe08","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":480,"wires":[["54f673f6.ab225c","528062aa.c070ec"]]},{"id":"54f673f6.ab225c","type":"ui_text","z":"4bea37bc.f0fe08","group":"1383993e.0129d7","order":1,"width":"6","height":"6","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":480,"wires":[]},{"id":"528062aa.c070ec","type":"ui_audio","z":"4bea37bc.f0fe08","name":"","group":"1383993e.0129d7","voice":"","always":"","x":850,"y":540,"wires":[]}]